body {
    background: #90aeff;
}

div.claseDelDiv{
    background-image: url("../imagenes/background.png");
    width: 100%; 
    height: 100vh;
}

button{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #60efb8;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #cefc86;
}